<!DOCTYPE html>
<html>
<meta charset="utf-8">
<title>data demo</title>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<style>
adiv {
width: 100px;
height: 100px;
border: 1px solid #000;
float: left;
}
</style>
<script src="http://code.jquery.com/jquery-1.12.4.js"></script>
<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>



<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script>
google.charts.load('current', {'packages':['table']});
google.charts.setOnLoadCallback(finishLoading);
g_dataWaitingBt = []
g_dataWaitingWifi = []
cl = ''
function finishLoading(){
//window.location.href
url_string = window.location.href
console.log("href:", window.location.href)
var hrefurl = new URL(url_string);
var cl = hrefurl.searchParams.get("cl");
console.log("cl is " , cl);
if( ! cl){
cl = "12345678"
}
console.log("cl is " , cl, );
$('#clno').val(cl)
// update table1 - show taskids by CL
update_dataCl();
// update table3 - table_waiting bt
update_dataWaitingBt();
// update table4 - table waiting wifi
update_dataWaitingWifi();
}
function update_dataCl(){
url_query = "/api/query"
// update table1
if ( $('#clno').val().length > 1){
url_query = url_query + "?cl=" + $('#clno').val()
}
console.log("url_query is ", url_query)
$.getJSON( url_query, function(data){
console.log(data);
g_data = data;
drawTableData();

getChipNameFromData();
})
}

/* https://ischurov.github.io/pythonvjs/ */

function comparekey(a, b){
if( a== 'TaskID' ) {
return true;
}
return a >b ;
}

function getKs( jsonobject ){
ks = Object.keys( jsonobject ) // jsonobject is a dict / object
ks.sort();
ks.splice( ks.indexOf('TaskID'), 1)
ks.splice( ks.indexOf('Status'), 1)
ks.splice( ks.indexOf('Platform'), 1)
ks.splice( ks.indexOf('ChipName'), 1)
ks.reverse()
ks.push('ChipName')
ks.push('Platform')
ks.push('Status')
ks.push('TaskID')
ks.reverse()
return ks
}

function getKs2(jsonobject){
return ['TaskID', 'Status', 'ChipName', 'Platform', 'Mode' , 'AssignedTo', 'CreatedTime', 'P4Label', 'Result',
'LoadBuildResult', 'SendMailResult',
'LoadBuildFinishTime', 'TestFinishTime']
}

function getWaitString( msec ){
// calculate msec to readable string
left = msec;
ds = Math.floor( msec / (3600000*24))
left = left % (3600000*24)
hs = Math.floor( left / 3600000 )
left = left % 3600000
ms = Math.floor( left / 60000 )
left = left %60000
if (ds > 0 ){
return " " + ds + " days " + hs + " hours " + ms + " mins";
}
return " " + hs + " hours " + ms + " mins";
}
function drawTableDataCommon( rows, table_id) {
var data = new google.visualization.DataTable();
var ks = getKs2( rows[0] )
// add calculated columns
data.addColumn('string', 'Now-CreatedTime');
data.addColumn('string', 'Now-LoadedTime');
for (i in ks){
data.addColumn('string', ks[i]);
}
//data.addColumn('string', {type: 'string', role: 'style'});
for ( index in rows ){
newrow = []
// add calculated columns
t1 = new Date( rows[index]['CreatedTime'] );
t2 = new Date( rows[index]['LoadBuildFinishTime'] );
t3 = new Date( )
// now-
if ( rows[index]['CreatedTime'] ){
if ( rows[index]['Status'] == 'DONE' || rows[index]['Status'] == 'Cancelled' ){
newrow.push ( '-');
}else{
difftime = (t3-t1);
text = getWaitString( difftime )
if( difftime > (4* 60* 60*1000) ){
value1 = text
f1 = '<div style="background-color: yellow;">' + value1 + '</div>';
cell1 = {v: value1, f: f1 };
text = cell1;
console.log(t3, difftime);
}else{
}
newrow.push ( text ) ;
}
}else{
newrow.push ( '-');
}
if( rows[index]['LoadBuildFinishTime'] ){
newrow.push ( getWaitString( ((t3-t2)) ) );
}else{
newrow.push ( '-');
}
for( i in ks ){
value1 = rows[index][ks[i]] ;
if( value1 === "IN_PROGRESS" ){
f1 = '<div style="background-color: pink;">' + value1 + '</div>'
cell1 = {v: value1, f: f1 }
newrow.push( cell1 );
}
else if( value1 == "WAITING" ) {
f1 = '<div style="background-color: yellow;">' + value1 + '</div>'
cell1 = {v: value1, f: f1 }
newrow.push( cell1 );
}else{
newrow.push( '' + rows[index][ks[i]]);
}
//console.log(newrow);
}
//newrow.push('color: #FF00FF');
data.addRow( Object.values(newrow), {'style': 'background-color: red;'})
}
//var formatter = new google.visualization.PatternFormat('<a href="mailto:{1}">{0}</a>');
// Apply formatter and set the formatted value of the first column.
//formatter.format(data, [1, 2]);
var table = new google.visualization.Table(document.getElementById(table_id));

table.draw(data, {showRowNumber: true, width: '100%', height: '100%', allowHtml: true});

}

function drawTableData() {
drawTableDataCommon( g_data, 'table_div');
}
function update_table2_div(){
rows = g_dataRelated;
records = {}
text1 = "ChipName_Platform: " + JSON.stringify(chipname_platform) + ""
text2 = ""
maxtext1 = ""
maxint = 0
for( i in rows){
name = rows[i]['ChipName'] + '_' + rows[i]['Platform'];
status = rows[i]['Status'];
if (status === 'WAITING' || status == 'IN_PROGRESS'){
if (records[name]){
records[name] = records[name] + 1;
}else{
records[name] = 1;
}
}
}
mylist = document.getElementById('myList');
maxchilds = mylist.childNodes.length;
for( var i =0 ; i < maxchilds; i++){
mylist.removeChild(mylist.childNodes[0]);
}
recordks = Object.keys(records);
console.log( 'recordks length is ' + recordks.length);
for ( i in recordks ){
name = recordks[i];
val = records[name]
text2 = name + ": " + val + " ( " + (val*0.5) + " hrs )" ;
console.log( name, " ==> ", val);
var node = document.createElement("LI");
var textnode = document.createTextNode( '' + text2);
node.appendChild(textnode);
mylist.appendChild(node);
if( val > maxint){
maxint = val;
maxtext1 = '' + text2;
}
}
$('#table2_text').text( text1 );
$('#table2_maxpath').text( maxtext1 );
}
// already get the g_dataRelated based on chipname and platform from g_data
function getChipNameFromData(){
cnlist = []
pllist = []
if( g_data.length > 0 ){

for ( i in g_data ){
cn = g_data[i]['ChipName'];
pl = g_data[i]['Platform'];
if( g_data[i]['Status'] != 'DONE'){
cnlist.push(cn);
pllist.push(pl);
}
}
cnlist = new Set(cnlist);
pllist = new Set(pllist);
console.log("cnlist ", cnlist);
console.log("pllist ", pllist);
}
newone = {}
newone["ChipNames"] = JSON.stringify(Array.from(cnlist));
newone["Platforms"] = JSON.stringify(Array.from(pllist));
var sendInfo = {
Name: 'noname',
Address: 'stress 112',
Phone: '0912345678'
};
chipname_platform = newone;

// json http://json.org/

// https://stackoverflow.com/questions/8517071/send-json-data-via-post-ajax-and-receive-json-response-from-controller-mvc
$.ajax({
type: "POST",
//traditional: true,
url: "/api/related",
//async: false,
//data: JSON.stringify(sendInfo),
data: JSON.stringify(newone),
dataType: "json",
//traditional:true ,
contentType: "application/json; charset=utf-8",
success: function(data) {
// success
console.log(" get a data", data)
g_dataRelated = data;
update_dataRelated();
update_table2_div();
},
error: function(data)
{
console.log("failed to get related data");
}
});

}

function update_dataRelated(){
console.log("update table2_div table based on g_dataRelated");
drawTableDataRelated();
}
function update_dataWaitingBt(){
console.log("update waiting BT taskids");
// update => flush => drawTable
url = "/api/waiting?max=100&mode=BT"
$.getJSON( url, function(data){
console.log(data);
g_dataWaitingBt = data;
drawTableDataWaitingBt();
})
}
function update_dataWaitingWifi(){
console.log("update waiting wifi taskids");
// update => flush => drawTable
url = "/api/waiting?max=100&mode=AP"
$.getJSON( url, function(data){
console.log(data);
g_dataWaitingWifi = data;
drawTableDataWaitingWifi();
})
}

function drawTableDataRelated() {

rows = g_dataRelated;
drawTableDataCommon(rows, 'table2_div')
}
function drawTableDataWaitingBt() {
drawTableDataCommon(g_dataWaitingBt, 'table_waitingbt_div')
}
function drawTableDataWaitingWifi() {
rows = g_dataWaitingWifi;
drawTableDataCommon(g_dataWaitingWifi, 'table_waitingwifi_div');
}

function drawTable() {
var data = new google.visualization.DataTable();
data.addColumn('string', 'Name');
data.addColumn('number', 'Salary');
data.addColumn('boolean', 'Full Time Employee');
data.addRows([
['Mike', {v: 10000, f: '$10,000'}, true],
['Jim', {v:8000, f: '$8,000'}, false],
['Alice', {v: 12500, f: '$12,500'}, true],
['Bob', {v: 7000, f: '$7,000'}, true]
]);

var table = new google.visualization.Table(document.getElementById('table_div'));
table.draw(data, {showRowNumber: true, width: '100%', height: '100%'});
}


function new_query(){
console.log( "new_query ", $('#clno').val() );
update_dataCl();
}
$(document).ready( () => {
console.log('ready!');
$("#clno").click(function () {
console.log("clno input clicked !")
});

$("#clno").on('keydown', function(e) {
if (e.which == 13) {
console.log("keydown enter");
update_dataCl();
}else{
console.log("e.which ", e.which);
}
}
);
});
</script>
<body>

<h2> Spider Preflight Testing Queue </h2>

<h3> Get TaskIDs by CL: </h3>
<div id="querycl"></div>

<input value="" id="clno" /> <input type="button" value="Query CL in P4Label column" onclick="javascript: update_dataCl()"> </button><br/>

SQL String: select top 100 * from table where P4Label like '%cl%' order by TaskID desc;

<h4>Critical-Path Testbed:</h4>
<ul>
<font color="#ff0000">
<li id="table2_maxpath"></li>
</font>
</ul>

<div id="table_div"></div>

<!---------------------------------------->

<br/>

<h3> Related NOT-DONE TaskIDs: </h3>
<div id="related"></div>

<input type="button" value="Update" onclick="javascript: getChipNameFromData()" /><br/>
SQL String: select top 100 * from table where ( 'chipname_platform' = ChipName_Platform ) and Status != 'DONE' order by TaskID desc;
<h4>Waiting Platforms</h4>
<ul>
<li id="table2_text"></li>
</ul>


<h4>ChipName_Platform List:</h4>
<ul id="myList">
</ul>
<h4>NOT-DONE TaskIDs</h4>
<div id="table2_div"></div>
<a name="bt"></a>
<h3 >BT Waiting TaskIDs: </h3>
<div id="bt2"></div>

<input type="button" value="Update !" onclick="javascript: update_dataWaitingBt()" /><br/>
SQL String: select top 100 * from table where Mode like '%BT%' and Status != 'DONE' order by TaskID desc;
<div id="table_waitingbt_text"></div>
<p>NOT-DONE TaskIDs</p>
<div id="table_waitingbt_div"></div>

<a name="wifi"></a>
<h3 >Wifi Waiting TaskIDs: </h3>
<div id="wifi2"></div>
<input type="button" value="Update !" onclick="javascript: update_dataWaitingWifi()" /> <br/>
SQL String: select top 100 * from table where Mode not like '%BT%' and Status != 'DONE' order by TaskID desc;

<div id="table_waitingwifi_text"></div>
<p>NOT-DONE TaskIDs</p>
<div id="table_waitingwifi_div"></div>
<script>

</script>
</body>
</html>
