[Generic]
reloadlastatstartup = 1

[LastROF]
last = 63
keeplastrofcount = 5

[MainWin]
y = 163
x = 208
w = 743
h = 616

[ROF]
59 = D:\Source\experimental\Poiskovik\MorphAnArm\test_SynAnSemGen\t3.py
58 = D:\Source\experimental\Poiskovik\MorphAnArm\test_SynAnSemGen\trans.py
62 = D:\Source\experimental\Poiskovik\MorphAnArm\test_SynAnSemGen\formparser.py
63 = D:\Source\pyunitgui\TestSequenceFunctions.py

